<p>user works!</p>

<div class=""> 
  <div class="container">
      <div class="">
  <nav class="navbar navbar-expand-lg navbar-light ">
            <a [routerLink]="['/userproduct']" >
               <i class="fa fa-home" area-hidden="true" style="font-size: 36px"></i> 
            </a>
               
            <a [routerLink]="['/user']" >
                  <i class="fa fa-user" area-hidden="true" style="font-size: 36px"></i>
              
             </a>
             <a [routerLink]="['/cart']" >
                 <i class="fa fa-shopping-cart" area-hidden="true" style="font-size: 36px"></i>
             </a>
           
             <a [routerLink]="['/order']" >
                  <i class="fa fa-first-order" area-hidden="true" style="font-size: 36px"></i>
              </a>
    </nav>
    
    <div class="col-md-6 ">
  <table class="table">
    <thead>
    <tr>
      <th><h4>User Profile</h4></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      
    </tr>
    
    </thead>
  
  
    
      <tr>
       
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">MobileNumber</th>
        <th scope="col">Email</th>
      <th scope="col">Gender</th>
        <th scope="col">Address</th>
        <th scope="col">Edit</th>

     
      </tr>
   
    <tr *ngFor="let r of result index as i">
    
      <td scope="col">{{r.firstName}}</td>
      <td scope="col">{{r.lastName}}</td>
      <td scope="col">{{r.mobileNumber}}</td>
      <td scope="col">{{r.email}}</td>
      <td scope="col">{{r.gender}}</td>
       <td scope="col">{{r.address}}</td>
      
      
     
       <td><a [routerLink]="['/userupdate',r.firstName,r.lastName,r.email,r.mobileNumber,r.gender,r.address]"> <i class="fa fa-pencil" aria-hidden="true"></i></a></td>
       
    </tr>
  </table>
    </div>
      </div>