<div class="container" style="margin-left: 200px; text-align: center;">   
  <div class="col-md-10">
  <div class="card">
    <div class="card-body">
          <h4>Customer SignUp</h4>
      <form [formGroup]="updateCustomerFormGroup" style="margin-top:50px" *ngFor="let i of result" >
          <div class="form-group row">
            <label  class="col-sm-5 col-form-label">First Name</label>
            <div class="col-sm-7">
              <input type="text" formControlName="firstName"  >
            </div>
          </div>
          <div class="form-group row">
              <label  class="col-sm-5 col-form-label" >Last Name</label>
              <div class="col-sm-7">
                <input type="text" formControlName="lastName" >
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label" >Email</label>
              <div class="col-sm-7" >
                <input type="email" formControlName="email" >
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label" >Password</label>
              <div class="col-sm-7">
                <input type="Password" formControlName="password">
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label" >Mobile No</label>
              <div class="col-sm-7">
                <input type="text" formControlName="mobileNumber" >
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label" >Address</label>
              <div class="col-sm-7">
                <input type="text" formControlName="address" >
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Gender</label>
              <div class="col-sm-7">
                <input type="text" formControlName="gender" >
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label" >DOB </label>
              <div class="col-sm-7">
                <input type="text" formControlName="dob"  >
              </div>
            </div>

            <div class="form-group row">
              
              <div >
               <button class="btn btn-success" (click)="updateProfile(i.CustomerId)" style="margin-left: 300px;">Update</button>
              </div>
            </div>
            <div class="form-group row">
              
              <div >
               <button class="btn btn-success" (click)="deleteCustomer(i.CustomerId)" style="margin-left: 300px;">Delete</button>
              </div>
            </div>
            


        </form>
    </div>
  </div>
</div>

</div>



